nav.navbar.navbar-static-top.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand
        span
        |  Save Up
    #bs-example-navbar-collapse-6.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(ng-href="#saves") Saves
